

/*--------------------------------------------Special Paddings/Margins/Text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

#logo {
    width: 20em;
}

.navbar {
    background-color: #000000;
  }
