@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

/*--------------------------------------------Special Paddings/Margins/Text*/

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: 'Otomanopee One', sans-serif;
}

p {
    font-family: 'Otomanopee One', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

#logo {
    width: 20em;
}

html body {
    background-color: #000000;
  }


/* NAVIGATION BAR */
  .navbar {
    width: 100%;
    z-index: 10;
}

.navbar-brand {
    margin-left: 1.5rem;
}

.nav-item {
    text-align: right;
    font-size: 0.8em;
    font-family: 'Otomanopee One', sans-serif;
}

.navbar-nav .nav-item .nav-link {
    color: #FFF;
    padding-right: 3em;
}

.navbar a :hover {
    color: green
}

.navbar .active>a b {
    border-bottom: #FED8AD solid 0.2em;
}

/* Pizza Form */

.pizza-form-heading {
    font-family: 'Otomanopee One', sans-serif;
    color: #fff;
    font-size: 1em;
}

#toppings label {
    color: #fff;
    padding-left: 2em;
}

.pizza-base {
    z-index: -10;
    position: absolute;
}

.sauceImages {
    display: none;
    position: absolute;
    z-index: -9;
}

.cheeseImages {
    display: none;
    position: absolute;
    z-index: -8;
}

.toppingImages {
    display: none;
    position: absolute;
    z-index: -7;
}

#map {
    z-index: 10;

  }

 /* ABOUT */ 
 #about-img {max-width: 100%}

  .about-section {
      width: 500px;
      margin: 30px auto;
  }
  
  .img-left {
      width: 300px;
      float: left;
      margin: 0 15px 0;
  }
  

  /*FOOTER */

  .social-icons {
    text-decoration: none;
    padding: 0.5em;
}