@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Special Paddings/Margins/Text*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Otomanopee One', 'Roboto';
}

p {
  font-family: 'Otomanopee One', 'Roboto';
}

.uppercase {
  text-transform: uppercase;
}

html body {
  background-color: #000;
}

/* 404 Page Styling */
#error-page-title {
  color: #fff;
  font-size: 8em;
}

#error-page-img img {
  margin-top: 2em;
  width: 45%;
}

#error-page-subtitle {
  color: #fff;
  font-size: 3vw;
}

#error-page-button {
  font-size: 3vw;
  font-family: 'Otomanopee One', 'Roboto';
  background: #02a892;
  border-radius: 10px;
  padding: 4px;
  color: #fff;
  margin: 0.5em auto;
  display: block;
  text-decoration: none;
  width: 30%;
}

/* Navigation */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  border-bottom: #FED8AD solid 0.1em;
}

a.navbar-brand {
  display: contents;
}

.navbar-brand {
  margin-left: 1.5rem;
}

.nav-item {
  text-align: right;
  font-size: 1em;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
  margin-right: 2em;
  font-family: 'Otomanopee One', 'Roboto';
}

.navbar a :hover {
  color: #FED8AD
}

.navbar .active>a b {
  border-bottom: #FED8AD solid 0.2em;
}

#logo img {
  width: 20em;
}

.section-heading {
  padding: 1em;
}

.pizza-icons {
  color: #FED8AD;
}

/* Pizza Form */

#home {
  margin-top: 200px;
}

#build-pizza-section {
  padding: 2em;
}

.pizza-form-heading {
  font-family: 'Otomanopee One', 'Roboto';
  color: #fff;
  font-size: 1em;
}

.pizza-div {
  position: relative;
  top: 0;
  left: 0;
}

.pizza-base {
  position: relative;
  top: 0;
  z-index: -3;
}

.toppingImages {
  position: absolute;
  display: block;
  top: 0px;
}

.cheeseImages {
  position: absolute;
  display: none;
  top: 0px;
  z-index: -1;
}

.sauceImages {
  position: absolute;
  display: none;
  top: 0px;
  z-index: -2;
}

#pizza-form-section {
  padding: 1em;
  border: #FED8AD solid 0.2em;
  border-radius: 2em;
}

#pizza-submit-button {
  background-color: #02a892;
  padding: 1em;
}

#pizza-reset-button {
  background-color: #ff1100;
  padding: 1em;
}

.totals {
  display: none;
}

/* LOCATIONS */
#map {
  z-index: 10;

}

/* ABOUT */
#about-img {
  max-width: 100%
}

.about-section {
  width: 100%;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.img-left {
  width: 300px;
  float: left;
  margin: 0;
}

/*FOOTER */
.section-line {
  height: 2px;
  padding: 0;
  margin: 5px 0px;
  border-width: 0;
  background-color: #FED8AD;
}

footer i {
  color: #FED8AD;
}

footer a {
  color: #fff;
}

footer a:hover {
  text-decoration: none;
  color: #FED8AD;
}

#social-icons img {
  width: 5em;
  height: 5em;
  text-decoration: none;
  padding: 0.5em;
  margin-bottom: 2em;

}

@media only screen and (min-width: 300px) {

  #home {
    margin-top: 100px;
  }


  #logo img {
    width: 10em;
  }

  .section-heading {
    font-size: 1.8em;
    padding: 0;
  }

  .pizza-base,
  .pizza-group {
    width: 14em;
    padding-bottom: 1em;
    margin-left: 3em;
  }

  .sauceImages img,
  .cheeseImages img {
    width: 14em;
    padding: 0;
    margin-left: 0em;
  }

  #location .section-heading,
  #about .section-heading {
    font-size: 2em;
    padding: 1em 0;
  }

  footer h3.section-heading {
    padding-top: 0.5em;
    font-size: 5vw;
  }

  footer p {
    margin: 0;
    font-size: 0.4em;
    padding: 0;
  }

  #social-icons img {
    width: 2em;
    height: 2em;
    margin-bottom: 0.5em;
  }
}

@media only screen and (min-width: 400px) {

  #logo img {
    width: 10em;
  }

  .section-heading {
    font-size: 2em;
    padding: 0;
  }

  .pizza-base,
  .pizza-group {
    width: 14em;
    padding: 2em 0em;
    margin-left: 4.5em;
  }

  .sauceImages img,
  .cheeseImages img {
    width: 14em;
    padding: 0;
    margin-left: 0;
  }

  .img-left {
    width: 100%;
    margin: 0;
  }

  footer h3.section-heading {
    padding-top: 0.5em;
    font-size: 1.5vw;
  }

  footer p {
    margin: 0;
    font-size: 1.2vw;
    padding: 0;
  }

  #social-icons img {
    width: 4em;
    height: 4em;
    margin-bottom: 0.5em;
  }
}

@media only screen and (min-width: 600px) {

  #logo img {
    width: 16em;
  }

  .section-heading {
    font-size: 2em;
    padding: 0;
  }

  .pizza-base,
  .pizza-group {
    width: 18em;
    padding: 2em 0em;
    margin-left: 5em;
  }

  .sauceImages img,
  .cheeseImages img {
    width: 18em;
    padding: 0;
    margin-left: 0em;
  }

  .img-left {
    width: 300px;
    float: left;
    margin: 0 15px 0;
  }
}

@media only screen and (min-width: 768px) {

  #home {
    margin-top: 150px;
  }

  .pizza-base,
  .pizza-group {
    width: 25em;
    padding: 2em 0em;
    margin-left: 7em;
  }

  .sauceImages img,
  .cheeseImages img {
    width: 25em;
    padding: 0;
    margin-left: 0em;
  }
}

@media only screen and (min-width: 992px) {

  .pizza-base,
  .pizza-group {
    width: 30em;
    padding: 2em 0em;
    margin-left: 13em;
  }

  .sauceImages img,
  .cheeseImages img {
    width: 30em;
    padding: 0;
    margin-left: 0em;
  }
}

@media only screen and (min-width: 1200px) {

  .build-pizza-title {
    padding-bottom: 1em;
  }

  .pizza-base,
  .pizza-group {
    width: 38em;
    padding: 2em 0em;
    margin-top: 0em;
    margin-left: 0em;
  }

  .sauceImages img,
  .cheeseImages img {
    width: 38em;
    padding: 0;
    margin-left: 0em;
  }
}